<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="vortexApplication" type="VX.ApplicationManagement.VortexApplicationSectionHandler,VXSystem" />
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<vortexApplication runAsConsole="true" maxInstanceNumber="1" showMessageOnMaxInstance="false" maxInstanceNumberMessage="Another instance of SpecForge.Transformer.Service is already running" activateAnotherOnMaxInstanceNumber="true">

		<logging>
			<listeners>
				<listener type="VX.Logging.ConsoleLogWriter,VXSystem" />
			</listeners>
		</logging>
	</vortexApplication>

	<connectionStrings>
		<!-- Russian server -->
		<add name="SpecForge" connectionString="Data Source=rufrt-vts01;Initial Catalog=SpecForge2;Integrated Security=True;MultipleActiveResultSets=True" />

		<!-- American server -->
		<!--<add name="SpecForge" connectionString="Data Source=phx2-ch-vts02.cnprod.cnwk;Initial Catalog=SpecForgeDB;Integrated Security=True;MultipleActiveResultSets=True" />-->

		<!-- Valeri's server (American) -->
		<!--<add name="SpecForge" connectionString="Data Source=phx2-ch-vts40.cnprod.cnwk;Initial Catalog=SpecForgeDB; Integrated Security=True;MultipleActiveResultSets=True" />-->
		
		<add name="Mdb" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=mdb_mirror;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="Smdb" connectionString="Data Source=rufp-sql02.cneu.cnwk;Initial Catalog=smdb_mirror;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="Gdb" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=gdb_mirror;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="Tpd" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=tpd_mirror;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="PaDb" connectionString="Data Source=rufrt-vts01;Initial Catalog=pa;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="Helix.Sql" connectionString="Data Source=rufrt-vts01.cneu.cnwk;Initial Catalog=vxk;user id=rdp2017;password=dpr;MultipleActiveResultSets=True" />
		<add name="Aggregator" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=aggregator_mirror;Integrated Security=true;MultipleActiveResultSets=True" />
		<add name="Uncdb" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=uncdb_mirror;Integrated Security=True;MultipleActiveResultSets=True" />
		<add name="Emdb" connectionString="Data Source=db-mirr.cnprod.cnwk;Initial Catalog=emdb_mirror;Integrated Security=True;MultipleActiveResultSets=True" />

	</connectionStrings>
	<appSettings>
		<!-- Self hosted web service config -->
		<add key="WebService.SelfHosted.BaseAddress" value="http://localhost:9000/" />
		<!--<add key="WebService.SelfHosted.SelfShutdownTime" value="" />-->
		<!-- Logger config -->
		<!--<add key="Logger.LogFileName" value="d:\Work\!Other\SpecForge2\200\!_SF_service_operation_log.txt" />-->
		<add key="Logger.IsVerbose" value="true" />
		<add key="Logger.AppName" value="SpecForge.Transformer.Service" />
		<add key="Logger.Elastic.User" value="admin" />
		<add key="Logger.Elastic.Password" value="n71yJoMLHE9N" />
		<add key="Logger.Elastic.Uris" value="https://dev-logs.cnetcontent.com:9201;https://dev-logs.cnetcontent.com:9202" />
		<!-- Cache config -->
		<add key="Cache.AllowUsingAssemblyCache" value="true" />
		<add key="Cache.Default.Timeout" value="00:30:00" />
		<add key="Cache.TransformerLoader.Timeout" value="00:01:00" />
		<add key="Cache.AlternativeCategories.Timeout" value="01:00:00" />
		<!-- Database command timeouts -->
		<add key="Tpd.Timeout" value="00:05:00" />
		<add key="Mdb.Timeout" value="00:15:00" />
		<add key="Gdb.Timeout" value="00:05:00" />
		<add key="SpecForge.Timeout" value="00:05:00" />
		<!-- URIs -->
		<add key="Uri.TemplexExternalService" value="http://phx2-tx-viis02.cnprod.cnwk:1980/" />
		<add key="Uri.DigitalContentStorage" value="http://cdn.cnetcontent.com/" />
		<!-- Dataflow settings -->
		<!-- Possible values -1, 0, N -->
		<add key="Dataflow.Default.MaxDegreeOfParallelism" value="-1" />
		<add key="Dataflow.Transformer.Loader.MaxDegreeOfParallelism" value="-1" />
		<add key="Dataflow.Transformer.Executor.MaxDegreeOfParallelism" value="-1" />
		<add key="Dataflow.Transformer.Executor.Object.MaxDegreeOfParallelism" value="-1" />
		<add key="Dataflow.UsmConverter.MaxDegreeOfParallelism" value="-1" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!-- Script compiler settings -->
		<add key="ScriptEngine.EmitPdb" value="false" />
		<add key="ScriptEngine.AllowCache" value="true" />
		<add key="ScriptEngine.CachePath" value="d:\Work\!Other\SpecForge2\Scripts\" />
		<!-- Alt categories settings -->
		<add key="AlternativeCategory.DefaultVersionId" value="06B37EB3-ED26-469E-8E42-395A403626AE" />
	</appSettings>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-1.4.2.0" newVersion="1.4.2.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Autofac.Integration.Owin" publicKeyToken="17863af14b0044da" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
	  </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
	  </dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="CacheManager.Core" publicKeyToken="5b450b4fb65c4cdb" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>